# archivo que uso para pruebas
prueba.php

# carpeta donde se cargan los archivos
file

# carpeta prueba de respaldo
respaldo.php

# .bat que valida le puerto y corre el socket
bin/check.bat

# documentos de referencia
formatos_referencia

# vs
.vscode

# dependencias
vendor
composer.lock

# config
.env
