body {
    background: no-repeat var(--image) center;
    background-size: cover;
}

.glass,
.form-control {
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 8px 32px 0 rgba(0, 123, 255, .37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .15);
}

.form-control::placeholder {
    color: var(--dark);
}

.cover-container {
    max-width: 42em;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.masthead-brand {
    float: left;
}

.masthead-brand {
    margin-bottom: 0;
}